* {
  margin: 0;
  font-family: 'Raleway', sans-serif; }

nav {
  height: 80px;
  box-shadow: 0px 0px 50px #b1b1b1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav img {
    margin-right: 40px;
    width: 50px;
    height: auto; }
  nav i {
    margin-left: 40px; }

.title {
  font-size: 32px;
  text-align: center;
  padding: 15px 0;
  font-weight: 900;
  width: 100%;
  border-bottom: 1px solid #C2C2C2; }

.sub-title {
  text-align: center;
  padding: 10px; }

.sub-sub-title {
  text-align: center;
  padding: 5px; }

button {
  padding: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer; }

.huge-button {
  background: #671f5a;
  color: #fff;
  font-weight: 700;
  margin: 40px 20px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .center-content {
    width: 65%;
    margin: 60px 0;
    box-shadow: 0px 0px 50px #C7C7C7;
    overflow: scroll;
    padding: 20px 0;
    padding-bottom: 60px; }
  main .observations .observations-buttons {
    display: flex;
    justify-content: center; }

.buttons-group {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .buttons-group button {
    background: #671f5a;
    color: #fff;
    margin: 0 30px;
    margin-top: 40px; }

.clusters-observed {
  border-bottom: 1px solid #C2C2C2;
  padding-left: 40px; }

.observationSubmission {
  padding: 20px; }
  .observationSubmission button {
    margin: 20px; }

.saved-observation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0; }
  .saved-observation-container .saved-observation {
    border: 1px solid #671f5a;
    width: 30%;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px; }

form {
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e6e6e6; }
  form .form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 60%; }
    form .form-group input[type='text'] {
      padding: 10px; }
    form .form-group textarea {
      border-radius: 4px;
      border-color: #bfbfbf; }
    form .form-group .title {
      border: none;
      padding: 0; }
    form .form-group .label {
      text-align: center; }

.upload-media button {
  margin: 30px;
  padding: 0;
  background: none; }

@media (max-width: 450px) {
  main .center-content {
    width: 100%;
    height: 100%;
    overflow: visible;
    box-shadow: none;
    margin: 0; }
    main .center-content .form-group {
      width: 90%; }
  .clusters-observed {
    padding-left: 20px; }
  .saved-observation-container .saved-observation {
    width: 50%; } }
