.c-nav {
    padding: 25px;
    background: $purple;
    .c-nav__logo-title {
        .title {
            font-weight: normal;
            color: #fff;
        }
    }
}


.c-dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20);
    border: 1px solid rgba(0,0,0,0.25);
    opacity: 0.95;
    padding: 0 20px;
    img {
        margin-right: 15px;
    }
    a {
        text-decoration: none;
        padding: 20px 0;
        color: #303030;
    }
    &--menu {
        right: 20px;
    }
    &--settings {
        right: 5px;
    }
}

.c-menu {
    z-index: 1;
    position: relative;
    button {
        border: none;
        border-radius: 4px;
        background: $light-purple;
        color: #fff;
        width: 120px;
        height: 40px;
        margin-right: 20px;
    }
}

.c-settings {
    z-index: 1;
    position: relative;
}


