body {
    background: #fff;
}


button {
    border-radius: 4px;
    color: #fff;
    font-weight: 100;
    padding: 15px;
    cursor: pointer;
    border: none;
    background: $dark-purple;
}

h1, h2, h3, h4, h5, h6, p {
    color: $light-grey;
    font-weight: 100;
}


select {
   background: transparent;
   background-image: none;
   box-shadow: none;
   border: none;
   -webkit-appearance: none;
}
