html(ng-app='uprepApp')
    include views/sv-head
    body
        include views/sv-nav
        ui-view(ng-cloak)
        footer
            script(src='bundle.js')
            script(src='https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.js')   
