html(ng-app='uprepApp')
    head
        base(href='/')
        meta(charset='utf-8')
        title U-Prep Pathways Platform
        link(href='css/app.css' rel='stylesheet')
    body(ng-cloak)
        main
            ui-view
        footer
            script(src='js/bundle.js')
