html(ng-app='uprepApp')
    head
        base(href='/')
        title U-Prep Pathways Platform
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet")
        link(rel='stylesheet' href='css/app.css')
        script(src="https://use.fontawesome.com/e6dd17dee1.js")
    body
        main
            include shared-views/nav
            .center-content.ui-view
        footer
            script(src='https://www.gstatic.com/firebasejs/4.5.0/firebase.js')
            script.
                var config = {
                    apiKey: "AIzaSyCEkglYYfqMX2eQM5wuWZTFw5rW2ltFI5k",
                    authDomain: "uprep-9ddf0.firebaseapp.com",
                    databaseURL: "https://uprep-9ddf0.firebaseio.com",
                    projectId: "uprep-9ddf0",
                    storageBucket: "",
                    messagingSenderId: "438250291385"
                };
                firebase.initializeApp(config);
            script(src='js/bundle.js')


