$purple: #681c5b;
$light-purple: #9d5f92;
$dark-purple : #681c5b;
$light-grey: #808285;
$dark-grey: #d6d7d8;
$clickable-link-blue: #35a3dc;
$dark-button-hover: #531648;
$dark-button-pressed: #531648;
$light-button-hover: #7d4c74;
$light-button-pressed: #7d4c74;


.grade-color {
    color: #73cabf;
}
.teacher-color {
    color: #81ba3e;
}
.subject-color {
    color: #faa657;
}

.upsm-school {
    background: #35a3dc;
}

.non-upsm-school {
    background: #ef4060;
}
