ul.c-triangle-breadcrumb.ul-margin-bottom-20
    li.c-triangle-breadcrumb__item
        a.c-triangle-breadcrumb__link(href='#') SCHOOL
    li.c-triangle-breadcrumb__item
        a.c-triangle-breadcrumb__link(href='#') TEACHER
    li.c-triangle-breadcrumb__item
        a.c-triangle-breadcrumb__link(href='#') DETAILS