$color_1: #fff;
$color_2: #FF7700;
$color_3: #FFDD00;
$color_4: #000000;
$color_5: #DCDCDC;
$font_family_1: 'Raleway',
sans-serif;
$border_color_1: #bfbfbf;
@import 'override';
@import 'utility';
@import 'auth';


nav {
	padding: 20px 30px;
	box-shadow: 0px 0px 50px #b1b1b1;
	width: 100%;
	.group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}
	img {
		margin-right: 40px;
		width: 50px;
		height: auto;
		cursor: pointer;
	}
	i {
		cursor: pointer;
	}
	.dropdown {
		border-top: 1px solid #c2c2c2;
		padding: 10px 0;
		p {
			cursor: pointer;
			font-weight: bold;
			padding: 5px 0;
		}
	}
}



// .sub-title {
// 	text-align: center;
// 	padding: 10px;
// }

// .sub-sub-title {
// 	text-align: center;
// 	padding: 5px;
// }

button {
	padding: 20px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
	.center-content {
		width: 65%;
		margin: 60px 0;
		box-shadow: 0px 0px 50px #C7C7C7;
		overflow: scroll;
		padding: 20px 0;
		padding-bottom: 60px;
	}
	.observations {

	}
}

.observations-buttons {
	display: flex;
	justify-content: center;
	padding: 20px;
	button {
		margin: 0 20px;
	}
}

.buttons-group {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	button {
		margin: 0 30px;
		margin-top: 40px;
	}
}

.clusters-observed {
	border-bottom: 1px solid #C2C2C2;
	.group {
		padding: 20px 40px;
	}
	.switch {
		display: flex;
		align-items: center;
		i {
			margin-left: 15px;
			cursor: pointer;
		}
	}
	.publish-observation-btn {
		margin-top: 20px;
		background: #671f5a;
		color: #fff;
		font-weight: bold;
	}
}


.saved-observation-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	.saved-observation {
		border: 1px solid #671f5a;
		width: 30%;
		padding: 10px;
		font-weight: bold;
		margin-bottom: 20px;
	}
}

form {
	padding: 0 0 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #e6e6e6;
	.thumbnails {
		padding: 20px;
	}
	.form-group {
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 60%;
		input[type='text'], input[type='password'] {
			padding: 10px;
		}

		textarea {
			border-radius: 4px;
			border-color: $border_color_1;
		}
		.title {
			border: none;
			padding: 0;
		}
		.label {
			text-align: center;
		}
	}
}

.upload-media {
	button {
		margin: 30px;
		padding: 0;
		background: none;
	}
}

.components {
	border-top: 1px solid #929292;
	padding: 30px;
	h3 {
		padding: 10px 0;
		text-decoration: underline;
	}
	.indicator {
		padding: 5px 0;
		input {
			margin-right: 5px;
		}
		label {
			margin-right: 10px;
			font-size: 18px;
			font-weight: normal;
		}
	}

}


.element-button-group {
	border-top: 1px solid #929292;
	button {
		color: $color_1;
		margin: 20px;
	}
}

.show-observation {
	padding: 30px;
	.group-container {
		display: flex;
		flex-wrap: wrap;
	}
	.group {
		flex-basis: 50%;
		padding: 20px 0;
		h2 {
			text-decoration: underline;
			margin-bottom: 10px;
		}
	}
	.form-container {
		border-top: 1px solid #C2C2C2;
	}
}


.filter-observation {
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	input {
		width: 30%;
	}
}

@media (max-width: 450px) {
	main {
		.center-content {
			width: 100%;
			height: 100%;
			overflow: visible;
			box-shadow: none;
			margin: 0;
			.form-group {
				width: 90%;
			}
		}
	}
	.clusters-observed {
		padding-left: 20px;
	}
	.saved-observation-container {
		.saved-observation {
			width: 50%;
		}
	}
	.show-observation {
		.group {
			flex-basis: 100%;
		}
	}
}
