$uprep-purple: #681c5b;
$uprep-grey: #808285;
$uprep-blue: #35a3dc;

$dark-button: #681c5b;
$dark-button-hover: #531648;
$dark-button-pressed: #531648;

$light-button: #9d5f92;
$light-button-hover: #7d4c74;
$light-button-pressed: #7d4c74;

$grade-color: #73cabf;
$teacher-color: #81ba3e;
$subject-color: #faa657;


* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}


.card {
    background: #FFFFFF;
    border-radius: 4px;
}

button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.buttons-group {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    button {
        width: 290px;
        background: $dark-button;
        color: #fff;
        padding: 15px 0;
    }
}
