// TYPOGRAPHY CONSIDERATIONS //
.title {
    font-size: 32px;
    text-align: center;
    padding: 15px 0;
    font-weight: 900;
    width: 100%;
    text-transform: uppercase;
}

.secondary-title {
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
}

input[type='text'] {
    padding: 10px;
    border-radius: 4px;
}

button {
    background: none;
}

.align-elements-vertically {
    display: flex;
    align-items: center;
    .title {
        font-size: 32px;
        text-align: center;
        padding: 15px 0;
        font-weight: 900;
        width: 100%;
        border-bottom: 1px solid #C2C2C2;
    }
}

.title-group {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C2C2C2;
    justify-content: center;
    .title {
        width: initial;
        border: none;
    }
}

.titles-container {
    border-bottom: 1px solid #C2C2C2;
}

.glyphicon-star,
.glyphicon-star-empty {
    font-size: 24px;
    margin-right: 5px;
}

.glyphicon-star {
    color: #ff9900;
}

.primary-button {
    background: #671f5a;
    color: #fff;
}

.submit-button {
    background: #2ecc98;
    color: #fff;
}

section {
    padding: 30px;
}

.observation-form {
    padding: 20px 0;
    .attach-evidence-button {
        display: flex;
        align-items: center;
        i {
            margin-right: 10px;
        }
    }
    .form-group {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        h2 {
            font-weight: bold;
        }
        p {
            font-size: 21px;
        }
    }
}

.next-steps-buttons-group {
    button {
        background: #848484;
        margin: 10px;
        color: #fff;
    }
}
