// TYPOGRAPHY CONSIDERATIONS //
.title {
    font-size: 32px;
    text-align: center;
    padding: 15px 0;
    font-weight: 900;
    width: 100%;
    text-transform: uppercase;
}

.secondary-title {
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
}

input[type='text'] {
    padding: 10px;
    border-radius: 4px;
}

button {
    background: none;
    border-radius: 4px;
}

.align-elements-vertically {
    display: flex;
    align-items: center;
}

.title-group {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C2C2C2;
    justify-content: center;
    .title {
        width: initial;
        border: none;
    }
}

.titles-container {
    border-bottom: 1px solid #C2C2C2;
}

.glyphicon-star,
.glyphicon-star-empty {
    font-size: 24px;
    margin-right: 5px;
}

.glyphicon-star {
    color: #ff9900;
}

.primary-button {
    background: #671f5a;
    color: #fff;
}

.submit-button {
    background: #2ecc98;
    color: #fff;
}
