.attach-evidence
    .titles-container
        h2.secondary-title {{observation.school}}
        h2.secondary-title {{observationType}}
        h2.secondary-title {{observation.element.name}}
    section
        .secondary-title Attach evidence for {{observation.indicator}}
        p From the list of observations below, click the right arrows to see specific evidence you can attach to support your score
        .observations-group

