.attach-evidence
    .titles-container
        h2.secondary-title {{observation.school}}
        h2.secondary-title {{observationType}}
        h2.secondary-title {{observation.element.name}}
        h2.secondary-title {{observation.component}}
    section
        h3 Attach evidence for {{observation.indicator}}
        p From the list of observations below, click the right arrows to see specific evidence you can attach to support your score
        .saved-observation-container
            .saved-observation(ng-repeat="observation in observations | orderBy: '-createdAt' | filter:searchText ", , style="cursor:pointer;")
                .content
                    p {{observation.observationKind}} Observation
                    span {{observation.grade}},  
                    span {{observation.teacher}}
                    p {{observation.readableDate}}
                .icon-holder
                    i.fa.fa-caret-right.fa-3x
