.attach-evidence-observation
    .titles-container
        h2.secondary-title {{selectedObservation.school}}
        h2.secondary-title {{observationType}}
        h2.secondary-title {{observation.ratingGroup.element.name}}
        h2.secondary-title {{observation.ratingGroup.component}}
    section
        h3 Attach evidence for {{observation.ratingGroup.indicator}}
        h3 {{selectedObservation.grade}} {{selectedObservation.teacher}} {{selectedObservation.subject}}
        .observation-form
            .form-group(ng-if='selectedObservation.form.content')
                h2 Content
                p {{selectedObservation.form.content}}
                .attach-evidence-button
                    i.fa.fa-plus-circle.fa-2x
                    p Attach this as evidence

            .form-group(ng-if='selectedObservation.form.teacher')
                h2 Teacher
                h3 Knowledge and Skill
                p {{selectedObservation.form.teacher}}
                .attach-evidence-button
                    i.fa.fa-plus-circle.fa-2x
                    p Attach this as evidence
            .form-group(ng-if='selectedObservation.form.teacher')
                h2 Conclusions
                h3 Better when...Better if...
                p {{selectedObservation.form.teacher}}
                .attach-evidence-button
                    i.fa.fa-plus-circle.fa-2x
                    p Attach this as evidence
            .form-group(ng-if='selectedObservation.photo')
                h2 Photo(s)
                img(src='{{selectedObservation.photo}}' width='200px')
        .next-steps-buttons-group
            button Attach evidence from another observation
            button I'm fnished attaching evidence to this indicator







