.ul-padding-30
    .l-flex-space-between.ul-border-bottom
        h1 {{breadcrumbs.title()}}
        //- img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='cancel()')
    .breadcrumb-container
        ul.c-triangle-breadcrumb.ul-margin-bottom-20
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') {{breadcrumbs.label_1}}
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link.ul-text-capitalize(href='#') {{breadcrumbs.label_2}}
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') {{breadcrumbs.label_3}}