.clusters-observed
    h1.title Clusters Observed
    .group
        .switch(ng-repeat='(key, value) in data.clustersObserved')
            md-switch(ng-model="clustersObserved.learningTargets") {{key}}
            i.fa.fa-question-circle.fa-2x(ng-click='clusterModal($event, key)')
        button.publish-observation-btn(ng-click='publishObservation()') Publish Observation
    //- button(ng-click="changeObservation()")
    //-     | Change
    //-     span  the type of observation for this teacher
    //- button(ng-click="changeSubject()")
    //-     | Change
    //-     span  the subject for this teacher
    //- button(ng-click="changeTeacher()")
    //-     | Observe
    //-     span  another teacher in this grade
    //- button(disabled="disabled")
    //-     | Score
    //-     span  based on observations
    //- button(ng-click="changeSchool")
    //-     | Select  
    //-     span another school
