.observations
    section
        h1.title Observations
        .observations-buttons
            button.huge-button(ng-click="observationType('Making Observations')") Start a new observation
            button.huge-button(ng-click="observationType('Scoring based on observations')") Score based on observation
    section
        h1.title My Observations
        .filter-observation
            input(type='text' ng-model='searchText' placeholder='Filter Observations')
        .saved-observation-container
            .saved-observation(ng-repeat="observation in savedObservations | orderBy: '-createdAt' | filter:searchText ", ng-click="showObservation(observation)", style="cursor:pointer;")
                p {{observation.observationKind}} Observation
                span {{observation.grade}},  
                span {{observation.teacher}}
                p {{observation.readableDate}}
