.ul-padding-30
    h1 Pathways
    p Is a new tool to help teachers observe in classrooms and to make work pathways for improvement. Take a sentence or two to explain what is being done here. #[a.c-link(href='#') Watch a tutorial here].
    .c-list-observations
        header
            button.c-round-breadcrumb(ng-class="{'is-disabled': page == 'progress'}" ng-click="page='dashboard'") Dashboard
            button.c-round-breadcrumb(ng-class="{'is-disabled': page == 'dashboard'}" ng-click="page='progress'") Progress
        main
            .l-flex-space-between
                .l-flex            
                    .input-group.c-input-text-group.l-flex
                        span
                            img(src='assets/icons/search-icon.svg')
                        input(type='text' placeholder='Search' name='search' ng-model='search')
                    .input-group.l-flex
                        p Select By: 
                        .c-select-group
                            select
                                option Teacher
                                option Teacher Group
                    .input-group.l-flex
                        p Order By: 
                        .c-select-group
                            select
                                option Date
                button(ui-sref='newObservation') Make New Observation
            .c-pagination
                .c-pagination__page-numbers
                    a.ul-cursor-pointer(ng-repeat='page in pager.pages' ng-click='setPage(page)' ng-class='{"active-page": pager.currentPage === page}') {{page}}
            .c-main-section
                .c-teachers-container(ng-show='page === "dashboard"')
                    .c-teacher.c-card.l-flex-space-between(ng-repeat='teacher in teachers')
                        .c-teacher__details
                            p {{teacher.name}}
                            .group
                                span.grade-color(ng-repeat='grade in teacher.grades') {{grade.name}}
                            .group
                                span.subject-color(ng-repeat='subject in teacher.subjects') {{subject.name}}
                        .c-teacher__actions
                            button(ng-click='newTeacherScore(teacher)') New Score
                            button(ng-click='newTeacherObservation(teacher)') New Observation
                .c-teacher-groups-container
                    p Progress