.ul-padding-30
    h1 Pathways
    p Is a new tool to help teachers observe in classrooms and to make work pathways for improvement. Take a sentence or two to explain what is being done here. #[a.c-link(href='#') Watch a tutorial here].
    .make-observation-score.l-flex
        button(ui-sref='school') Make New Observation
        button Make New Score
    .c-list-observations
        header
            button.c-round-breadcrumb VIEW OBSERVATIONS
            button.c-round-breadcrumb VIEW SCORES
        main
            .l-flex.ul-margin-top-bottom-30
                .input-group.c-input-text-group.l-flex
                    span
                        img(src='assets/icons/search-icon.svg')
                    input(type='text' placeholder='Search' name='search')
                .input-group.l-flex
                    p Sort By
                    .c-select-group.l-flex
                        select
                            option Audi
                            option BMW
                            option Mercedes
                .input-group.l-flex
                    p School
                    .c-select-group.l-flex
                        select
                            option English
                            option Maths
                            option Science
            .c-observation.l-flex-space-between.ul-padding-30(ng-repeat='observation in observations')
                .c-observation__date
                    p Created
                    p {{observation.readableDate}}
                .c-observation__details
                    h3 {{observation.observationKind}}
                    span.grade-color {{observation.grade}}
                    span.teacher-color {{observation.teacher}}
                    span.subject-color {{observation.subject}}
                .c-observation__actions.l-flex-flex-end
                    img(src='assets/icons/edit-icon.svg')
                    img(src='assets/icons/duplicate-icon.svg')
                    img(src='assets/icons/delete-icon.svg')
