.observations
  section
    h1.title Observations
    .observations-buttons
      button.huge-button(ng-click='observationType("Making Observations")') Start a new observation
      button.huge-button(ng-click='observationType("Scoring based on Observations")' disabled) Score based on observation
  section
    h1.title My Observations
    .saved-observation-container
      .saved-observation(ng-repeat='observation in savedObservations')
        p {{observation.observationKind}} Observation
        span {{observation.grade}}, &nbsp;
        span {{observation.teacher}}
        p {{observation.subject}}










