.c-new-modal.submitted-score-popup
    .c-modal__modal-content
        .l-flex
            .c-modal__badge
                img(src='assets/icons/submitted-badge-icon.svg')
            span(style='margin-left: 60px')
                h2 Thank you for Submitting Your Score