.c-new-modal.sumbit-score-modal
    .c-modal__modal-content
        p(style='font-size:21px') Thank You. 
        p(style='font-size:21px') Are you Sure you want to Submit Your Score?
        .c-buttons-holder
            button(ng-click='submitScore(ev)') Yes
            button(ng-click='cancelSubmitScoreModal()') Cancel