.c-modal
    h2 Evidence for 
        span.heading-blue Grading
    img(src='assets/icons/x-icon.svg')
    .c-modal__note
        h3 Notes from Scorer
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .c-modal__note
        .c-modal-note__details.ul-border-bottom
            .c-modal-note__details__date
                p 9/16/17
                p 9:00 am
            .c-modal-note__details__observation
                h3 Lesson observation
                span.grade-color 1st Grade
                span.teacher-color Ms. Ng
                span.subject-color English
        .c-modal-note__attachment
            h2 Attachments
            img(src="http://via.placeholder.com/350x150")
            h2 Teacher: Knowledge and Skill
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisinuli.
        
