.ul-padding-30
    .l-flex-space-between.ul-border-bottom
        h1 Make A New Observation
        img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='cancelObservation()')
    .ul-padding-30
        ul.c-triangle-breadcrumb.ul-margin-bottom-20
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') {{observation.school.name}}
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') {{observation.observationType.name}}
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') DETAILS
        div
            h2 Step 3: Provide More Details about your Observation
            .c-select-group.ul-margin-bottom-20
                select.grade-color(ng-model='grade' ng-change='recordGrade()')
                    option(ng-repeat='grade in grades' value='{{grade}}') {{grade.name}}
            .c-select-group.ul-margin-bottom-20
                select.teacher-color(ng-model='teacher' ng-change='recordTeacher()' ng-disabled='disableTeacherSelect')
                    option(ng-repeat='teacher in teachers' value='{{teacher}}') {{teacher.name}}
            .c-select-group.ul-margin-bottom-20
                select.subject-color(ng-model='subject' ng-change='recordSubject()' ng-disabled='disableSubjectSelect')
                    option(ng-repeat='subject in subjects' value='{{subject}}') {{subject.name}}
        p.ul-error(ng-if='errorMessage') {{errorMessage}}
        button(ng-click='createObservation()') Done



