.c-modal.edit-observation-modal
    .c-modal__modal-content
        .l-flex-space-between
            h2 Lesson Observation Settings
            img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='closeEditObservationModal()')
        p CREATED {{observation.created_at | date:'short'}}
        h3 Observation Details
        div
            .c-select-group.ul-margin-bottom-20
                select.grade-color(ng-model='observation.grade' ng-change='updateTeachersBasedOnSelectedGrade()' ng-options='grade.name for grade in grades track by grade.id')
            .c-select-group.ul-margin-bottom-20
                select.teacher-color(ng-model='observation.teacher' ng-change='updateSubjectsBasedOnSelectedTeacher()' ng-options='teacher.name for teacher in teachers track by teacher.id')
            .c-select-group.ul-margin-bottom-20
                select.subject-color(ng-model='observation.subject' ng-options='subject.name for subject in subjects track by subject.id')
            button(ng-click='editObservation()') Save
.c-modal.delete-observation-modal
    .c-modal__modal-content
        .l-flex-flex-end
            img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='closeDeleteModal()')
        h2 Delete This Observation?
        p This action cannot be reversed
        .c-buttons-holder
            button(ng-click='deleteObservation()') Yes
            button(ng-click='closeDeleteModal()') Cancel
.ul-padding-30
    .ul-padding-30
        .c-view-all-observations-header
            img.ul-cursor-pointer(src='assets/icons/back-icon.svg' ui-sref='home')
            p VIEW ALL OBSERVATIONS
        .c-observation-observation-form
            .c-observation-observation-form__details
                h3 {{observation.observation_type.name}} Observation
                span.grade-color {{observation.grade.name}}
                span.teacher-color {{observation.teacher.name}}
                span.subject-color {{observation.subject.name}}
                p CREATED {{observation.created_at | date:'short'}}
            .c-observation-observation-form__actions
                button Saved
                button Submit
                img.ul-cursor-pointer(src='assets/icons/settings-small-icon.svg' ng-click='openEditObservationModal()')
                img.ul-cursor-pointer(src='assets/icons/duplicate-icon.svg')
                img.ul-cursor-pointer(src='assets/icons/delete-icon.svg' ng-click='openDeleteModal()')

        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Observation Description
            p What's the theme/goal/focus?
            textarea(ng-model='observation.description')
        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Attachments
            p Add photos, videos, word documents, or pdf's to your observation
            .c-attachments-holder
                .c-attachment-holder__add-attachment.ul-cursor-pointer(ngf-select='uploadFiles($files, $invalidFiles)' multiple accept='image/*' ngf-max-size='2MB')
                    img(src='assets/icons/add-icon.svg')

                div(ng-repeat='file in files')
                    .c-attachment-holder__attachment.ul-cursor-pointer(ngf-thumbnail='file' ngf-size='{quality: 0.9}' ngf-as-background='true')
                        img(src='assets/icons/x-icon-circle.svg' ng-click='removeAttachment(file)')
                    //- .c-attachment-holder__attachment.ul-cursor-pointer(ng-if='observation.attachments' ng-repeat='attachment in observation.attachments')
                    //- img(src='{{attachment.link}}')

        .c-observation-form-input-group
            h2 Teacher: Knowledge and Skill
            p What is the teacher doing? What is the teacher saying?
            textarea
        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Students: Behavior
            p What are the students doing? What are the students saying?
            textarea
        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Conclusions
            p Best when... Better if...
            textarea
        .c-clusters-observed-group
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Learning Targets
                input(type='radio' name='learning targets')
                input(type='radio' name='learning targets')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Standards
                input(type='radio' name='standards')
                input(type='radio' name='standards')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Planning
                input(type='radio' name='planning')
                input(type='radio' name='planning')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Instruction
                input(type='radio' name='instruction')
                input(type='radio' name='instruction')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Tasks
                input(type='radio' name='tasks')
                input(type='radio' name='tasks')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Interaction and Behaviors
                input(type='radio' name='interaction and behaviors')
                input(type='radio' name='interaction and behaviors')
        .submit-buttons-holder
            button.saved-button Saved
            button.submit-button(ng-click='submitObservation()') Submit



