.ul-padding-30
    .l-flex-space-between.ul-border-bottom
        h1 Make A New Observation
        img(src='assets/icons/x-icon.svg')
    .ul-padding-30
        ul.c-triangle-breadcrumb.ul-margin-bottom-20
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') SCHOOL
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') TYPE
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') DETAILS
        div
            h2 Step 1: Choose Type of Observation
            l.flex
                p.ul-margin-bottom-20 What kind of observation are you going to do? #[strong For more details see] #[a.c-link(href='#') Observation Types] #[img(src='assets/icons/question-mark.svg')]
            .c-buttons-holder
                button.ul-margin-bottom-20(ui-sref='observationInputs') Crew
                button.ul-margin-bottom-20 School-Wide
                button.ul-margin-bottom-20 Lesson
                button.ul-margin-bottom-20 Adult

