.ul-padding-30
    .ul-padding-30
        .c-view-all-observations-header
            img.ul-cursor-pointer(src='assets/icons/back-icon.svg' ui-sref='home')
            p VIEW ALL OBSERVATIONS
        .c-observation-observation-form
            .c-observation-observation-form__details
                h3 Lesson Observation
                span.grade-color 1st Grade
                span.teacher-color Ms. Ng
                span.subject-color English
                p CREATED 12/16/17 AT 5:00PM
            .c-observation-observation-form__actions
                button Saved
                button Submit
                img(src='assets/icons/settings-small-icon.svg')
                img(src='assets/icons/duplicate-icon.svg')
                img(src='assets/icons/delete-icon.svg')

        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Observation Description
            p What's the theme/goal/focus?
            textarea
        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Attachments
            p Add photos, videos, word documents, or pdf's to your observation
            .c-attachments-holder
                .c-attachment-holder__add-attachment.c-attachment-holder__attachment
                    img(src='assets/icons/add-icon.svg')
                .c-attachment-holder__attachment
        .c-observation-form-input-group
            h2 Teacher: Knowledge and Skill
            p What is the teacher doing? What is the teacher saying?
            textarea
        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Students: Behavior
            p What are the students doing? What are the students saying?
            textarea
        .c-observation-form-input-group.ul-margin-bottom-20
            h2 Conclusions
            p Best when... Better if...
            textarea
        .c-clusters-observed-group
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Learning Targets
                input(type='radio' name='learning targets')
                input(type='radio' name='learning targets')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Standards
                input(type='radio' name='standards')
                input(type='radio' name='standards')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Planning
                input(type='radio' name='planning')
                input(type='radio' name='planning')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Instruction
                input(type='radio' name='instruction')
                input(type='radio' name='instruction')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Tasks
                input(type='radio' name='tasks')
                input(type='radio' name='tasks')
            .c-radio-group.l-flex.ul-margin-bottom-20
                p Interaction and Behaviors
                input(type='radio' name='interaction and behaviors')
                input(type='radio' name='interaction and behaviors')
        .submit-buttons-holder
            button.saved-button Saved
            button.submit-button Submit



