.pick-subject
    .tit
    h2.secondary-title {{observation.school}}
    h3.secondary-title {{observationType}}
    h3.secondary-title {{observation.grade}}
    h3.secondary-title {{observation.teacher}}
    h1.title Pick Subject
    .buttons-group
        button.primary-button(ng-repeat="subject in data.subjects", ng-click="recordObservation('subject', subject)" ui-sref='newObservation.observationForm') {{subject}}
