.pick-subject
    h2.sub-title {{observation.school}}
    h3.sub-sub-title {{observationType}}
    h3.sub-sub-title {{observation.grade}}
    h3.sub-sub-title {{observation.teacher}}
    h1.title Pick Subject
    .buttons-group
        button(ng-repeat="subject in data.subjects", ng-click="recordObservation('subject', subject)" ui-sref='newObservation.observationForm') {{subject}}
