.pick-element
    .titles-container
        h2.secondary-title {{observation.school}}
        h2.secondary-title {{observationType}}
        h2.secondary-title {{observation.grade}}
        h2.secondary-title {{observation.teacher}}
        h1.title What Element?
    .buttons-group
        button(ng-repeat="element in data.elements", ng-click="pickElement(element)", ng-style='{"background-color": element.color}') {{element.name}}
