.pick-grade
  h2.sub-title {{observation.school}}
  h3.sub-sub-title {{observation.observationType}}
  h1.title What grade?
  .buttons-group
    button(ng-repeat='grade in data.grades' ng-click='pickGrade(grade)') {{grade}}