.pick-teacher
    p {{name}}
    h2.sub-title {{observation.school}}
    h3.sub-sub-title {{observationType}}
    h3.sub-sub-title {{observation.grade}}
    h1.title Who's the teacher?
    .buttons-group(ng-if='observationType === "Making Observations"')
        button(ng-repeat="teacher in data.teachers", ng-click="recordObservation('teacher', teacher)" ui-sref='newObservation.observationKind') {{teacher}}
    .buttons-group(ng-if='observationType === "Scoring based on observations"')
        button(ng-repeat="teacher in data.teachers", ng-click="recordObservation('teacher', teacher)" ui-sref='scoreObservation.scoreBase') {{teacher}}

