.pick-grade
    h2.sub-title {{observation.school}}
    h3.sub-sub-title {{observationType}}
    h1.title What grade?
    .buttons-group(ng-if='observationType === "Making Observations"')
        button.primary-button(ng-repeat="grade in data.grades | filter:filterGrades()", ng-click="recordObservation('grade', grade.grade)" ui-sref='newObservation.teacher') {{grade.grade}}
    .buttons-group(ng-if='observationType === "Scoring based on observations"')
        button.primary-button(ng-repeat="grade in data.grades | filter:filterGrades()", ng-click="recordObservation('grade', grade.grade)" ui-sref='scoreObservation.teacher' ) {{grade.grade}}
