.ul-padding-30
    .l-flex-space-between.ul-border-bottom
        h1 Make A New Observation
        img(src='assets/icons/x-icon.svg')
    .ul-padding-30
        ul.c-triangle-breadcrumb.ul-margin-bottom-20
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') SCHOOL
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') TYPE
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') DETAILS
        div
            h2 Step 1: Choose a School
            p.ul-margin-bottom-20 Below is a list of schools you are able to observe
            .c-buttons-holder
                button.ul-margin-bottom-20.upsm-school(ui-sref='observationKind') UPSM Elementary
                button.ul-margin-bottom-20.upsm-school UPSM Middle
                button.ul-margin-bottom-20.non-upsm-school Ellen-Thompson Elementary
                button.ul-margin-bottom-20.non-upsm-school UPA High
                button.ul-margin-bottom-20.non-upsm-school Mark-Murray Elementary
                button.ul-margin-bottom-20.upsm-school UPSM High
                button.ul-margin-bottom-20.non-upsm-school UPA Middle

