.ul-padding-30
    .l-flex-space-between.ul-border-bottom
        h1 Make A New Observation
        img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='cancelObservation()')
    .ul-padding-30
        ul.c-triangle-breadcrumb.ul-margin-bottom-20
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') SCHOOL
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') TYPE
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') DETAILS
        div
            h2 Step 1: Choose a School
            p.ul-margin-bottom-20 Below is a list of schools you are able to observe
            .c-buttons-holder
                span(ng-repeat= 'school in schools')
                    button.ul-margin-bottom-20(ui-sref='observationKind') {{school.name}}




