ng-include(src='templateUrl')
.ul-padding-30-content
    .ul-padding-30-content
        div
            h2 Step 1: Choose a School
            p.ul-margin-bottom-20 Below is a list of schools you are able to observe
            .c-buttons-holder
                span(ng-repeat='school in schools')
                    button.ul-margin-bottom-20(ng-class="(checkIfSchoolIsUPSM(school.name) ? 'upsm-school' : 'non-upsm-school')" ng-click='recordSchool(school)') {{school.name}}

