.pick-score
    .titles-container
        h2.secondary-title {{observation.school}}
        h3.secondary-title {{observationType}}
        h3.secondary-title {{observation.grade}}
        h3.secondary-title {{observation.teacher}}
    .buttons-group
        button(ng-repeat='score in data.scoreBase' ng-click="scoreObservation('scoreBase', score)" ui-sref='scoreObservation.element') {{score}}
