.ul-padding-30
    .l-flex-space-between.ul-border-bottom
        h1 Make A New Score
        img(src='assets/icons/x-icon.svg')
    .ul-padding-30
        ul.c-triangle-breadcrumb.ul-margin-bottom-20
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') ELLEN-THOMPSON
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') MS.NG
            li.c-triangle-breadcrumb__item
                a.c-triangle-breadcrumb__link(href='#') DETAILS
        div
            h2 Step 3: Provide More Details about your Score
            .c-select-group.ul-margin-bottom-20
                select.grade-color
                    option Grade
                    option Grade
                    option Grade
            .c-select-group.ul-margin-bottom-20
                select.subject-color
                    option Subject
                    option Subject
                    option Subject
        button(ui-sref='scoreForm') Done