.pick-school.ui-view
    p {{name}}
    h2.sub-title {{observation.observationType}}
    h1.title What School?
    .buttons-group
        button(ng-repeat="school in data.schools", ng-click="pickSchool(school)") {{school}}
