.ul-padding-30
    .ul-padding-30
        .c-view-all-observations-header
            img.ul-cursor-pointer(src='assets/icons/back-icon.svg' ui-sref='home')
            p VIEW ALL SCORES
        .c-observation-observation-form
            .c-observation-observation-form__details
                h3 Ms. Ng
                span.teacher-color Teacher: 1st Score
                p CREATED ON 12/16/17 AT 5:00PM
            .c-observation-observation-form__actions
                    button Saved
                    button Submit
                    img(src='assets/icons/settings-small-icon.svg')
                    img(src='assets/icons/duplicate-icon.svg')
                    img(src='assets/icons/delete-icon.svg')