.c-modal.indicator-levels-modal
    .c-modal__modal-content
        header.l-flex-space-between
            p.indicator-name {{selectedIndicator}}
            img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='closeIndicatorLevelsModal()')
        h4.level 0
        p.level-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
        h4.level Level 1
        p.level-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
        h4.level Level 2
        p.level-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
        h4.level Level 3
        p.level-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
        h4.level Level 4
        p.level-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisinuli.
    //- .c-buttons-holder
    //-     button OK
.c-modal.delete-score-modal
    .c-modal__modal-content
        span.l-flex-flex-end
            img.ul-cursor-pointer(src='assets/icons/x-icon.svg' ng-click='closeModal()')
        h2 Delete This Score?
        p This action cannot be reversed
        .c-buttons-holder
            button(ng-click='deleteScore()') Yes
            button(ng-click='closeModal()') Cancel


.c-modal.submitted-score-popup
    .c-modal__modal-content
        .l-flex
            .c-modal__badge
                img(src='assets/icons/submitted-badge-icon.svg')
            span(style='margin-left: 60px')
                h2 Thank you for Submitting Your Score

.c-modal.sumbit-score-modal
    .c-modal__modal-content
        p(style='font-size:21px') Thank You. 
        p(style='font-size:21px') Are you Sure you want to Submit Your Score?
        .c-buttons-holder
            button(ng-click='submitScore()') Yes
            button(ng-click='closeSubmitScoreModal()') Cancel



.ul-padding-30
    .ul-padding-30
        .c-observation-observation-form
            .c-observation-observation-form__details
                h3.ul-text-capitalize(style='font-weight:bold; color: #681C5B') {{score.teacher.name}}
                p  CREATED ON {{score.created_at | date: 'shortDate'}} {{score.created_at | date: 'shortTime'}}
            .c-observation-observation-form__actions
                    button(ng-click='openSubmitScoreModal()') Submit
                    img.ul-cursor-pointer(src='assets/icons/delete-icon.svg' ng-click='showDeleteScoreModal()')
        
        .c-element(ng-repeat='element in elements track by element.id')
            .title
                h2 Section {{element.id}} of 5: {{element.name}} &nbsp;
                p Score the teacher from 1-4 stars on the following indicator
            .c-element__component(ng-repeat='component in element.components track by component.id')
                .title
                    h3 {{component.name}}
                    img(src="assets/icons/question-mark.svg")
                .indicator-groups
                    .c-element__indicator(ng-repeat='indicator in component.indicators track by indicator.id')
                        p {{indicator.name}}
                        .ratings
                            //- input(type='radio' ng-repeat='value in indicatorValue' ) {{value}}
            
            //- .c-accordion.tab-content(ng-class="{'c-accordion-collapsed': !toggleAccordion}" ng-repeat='component in element.components track by component.id')
            //-     .c-accordion-header(ng-click="toggleAccordion = !toggleAccordion")
            //-         span.accordion-title {{component.name}} &nbsp;
            //-         img(src="assets/icons/question-mark.svg")
            //-     .c-accordion-content
            //-         .c-radio-group.c-accordion-radio-group.l-flex.ul-margin-bottom-20(ng-repeat="indicator in getAddSelectedIndicators(component.indicators) track by indicator.id")
            //-             .indicator
            //-                 p.ul-cursor-pointer(ng-click='displayIndicatorLevelsModal(indicator)') {{indicator.name}}
            //-                 .ratings
            //-                     label.c-accordion-radio-group-label(ng-repeat='value in indicatorValue')
            //-                         input(type='radio' name='{{indicator.name}}' value='{{value}}' ng-model='indicator.value' ng-click='storeIndicatorScore(value, indicator)')
            //-                         span.radio-label(ng-if='value == null') N/A
            //-                         span.radio-label(ng-if='value != null') {{value}}                           
            //-             .c-accordion-actions
            //-                 button.c-accordion_actions_button.add
            //-                 button.c-accordion_actions_button.attach(ng-if="indicator.name === 'Grading'")