.c-nav(ng-controller='NavCtrl' id='c-nav')
    .c-nav__logo-title.l-flex.ul-cursor-pointer(ui-sref='home')
        img.logo(src='assets/uprep-logo.svg' alt='uprep logo')
        h2.title UPrep Pathways Platform 
    .c-nav__links.l-flex
        .c-menu
            md-menu(md-position-mode='target-right target' md-offset='0 60')
                md-button(ng-click='$mdMenu.open($event)' aria-label='Open Menu Dropdown') Menu
                md-menu-content.c-dropdown(width='4')
                    md-menu-item
                        a(href='#') Pathways
                    md-menu-item
                        a(href='#') Getting Started
                    md-menu-item
                        a(href='#') How Am I Doing?
                    md-menu-item
                        a(ui-sref='admin') Admin
        .c-settings
            md-menu(md-position-mode='target-right target' md-offset='0 60')
                img.ul-cursor-pointer.settings(src='assets/icons/settings-icon.svg' alt='settings icon' ng-click='$mdMenu.open($event)' aria-label='Open Settings Dropdown')
                md-menu-content.c-dropdown(width='3')
                    md-menu-item 
                        //- img(src='assets/icons/profile-photo.svg')
                        a(href='#') Account
                    md-menu-item
                        a(href='#') Log Out
