ng-include(src='templateUrl')
.ul-padding-30-content
    .ul-padding-30-content
        div
            h2 Step 2: Choose the Teacher who you will Score
            .c-buttons-holder
                span(ng-repeat='teacher in teachers')
                    button.ul-margin-bottom-20.teacher-button(ng-click='recordTeacher(teacher)') {{teacher.name}}