head
    base(href='/')
    title U-Prep Pathways Platform
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,900" rel="stylesheet")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-multi-select/4.0.0/isteven-multi-select.min.css')
    link(rel='stylesheet' href='css/app.css')
    script(async src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous")
