nav.center-elements-vertically(ng-controller='NavCtrl')
    .logo-title.center-elements-vertically(ui-sref='home')
        img(src='assets/uprep-logo.svg' alt='uprep logo')
        .nav-title UPrep Pathways Platform
    .menu-settings.center-elements-vertically
        button MENU
        img.settings(src='assets/settings-icon.svg' alt='settings icon')

    //- .group
    //-     img(src='assets/UPrep_Logo_small.png' style='cursor:pointer' ui-sref='home')
    //-     i(ng-click="isCollapsed = !isCollapsed").fa.fa-bars.fa-2x
    //- .dropdown(uib-collapse='isCollapsed')
    //-     p(ui-sref='newObservation') Start a new observation
    //-     p(ui-sref='scoreObservation') Score based on observation

