.c-nav.l-flex-space-between(ng-controller='NavCtrl')
    .c-nav__logo-title.l-flex
        img.logo(src='assets/uprep-logo.svg' alt='uprep logo')
        h2.title UPrep Pathways Platform
    .c-nav__menu-settings.l-flex
        button.menu MENU
        img.settings(src='assets/icons/settings-icon.svg' alt='settings icon')

